<!-- Case Studies Details -->
<div class="case-studies-details-area ptb-100">
    <div class="container">
        <app-services></app-services>
        <div class="case-studies-details-desc">
            <div class="article-content">
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>Market Research</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>Branded Surveys</h3>
                            <ul>
                                <li>Brand Health Trackers</li>
                                <li>U&A</li>
                                <li>Markets Share</li>
                                <li>Brand Recall</li>
                                <li>Brand Recognition</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>Social Research</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <ul>
                                <li>Impact Assessment</li>
                                <li>KAPs</li>
                                <li>M&E</li>
                                <li>Political Opinion Polls</li>
                                <li>Third Party Monitoring</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>Trade Research</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <ul>
                                <li>Mystery Shopper</li>
                                <li>Retail Auditor</li>
                                <li>Retail Census</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-get-started></app-get-started>