<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Our Approach</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape2.png" alt="image"></div>
</div>

<app-case-studies></app-case-studies>
<!-- What's Included -->
<div class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Quantitative Techniques</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon23.png" alt="image">
                    </div>
                    <h3>CATI (Computer Aided Telephone Interviews)</h3>
                    <p>With our team of over 300 vetted, trained &amp; multilingual interviewers spread across all our major
                    markets, we will help you uncover hard to reach samples the easy way. Through our internal
                    quality assurance processes and having worked with both local and international companies, we
                    offer you the best quality.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon24.png" alt="image">
                    </div>
                    <h3>CAWI (Computer Aided Web Interviews)</h3>
                    <p>Another of our specialty here at Lightline is online samples, we offer a highly responsive and
                    diverse community, that is fast, reliable and convenient for all your survey’s needs. We are
                    ESOMAR members, with a growing panel of over 100,000 respondents mainly from South
                    Africa, Kenya, Uganda, Tanzania and Nigeria.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon25.png" alt="image">
                    </div>
                    <h3>CAPI (Computer Aided Personal Interviews)</h3>
                    <p>In case of very remote and off-the-grid areas, special groups or specific research requirements
                    we have a team of field agents who can infiltrate and make access. With the capability to train,
                    retrain and efficiently deploy teams within these markets, we assure you quality and a quick
                    turnaround.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon26.png" alt="image">
                    </div>
                    <h3>Mystery Shopper</h3>
                    <p>With specialized tools, we measure the quality of sales and service, job performance, or collect specific information about the market or your competitors,
                    including their products and services. Our goal is to mirror common consumer behaviors in a bid to test the consistency of the habits
                    deemed important to your business/brand.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Qualitative Techniques</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon23.png" alt="image">
                    </div>
                    <h3>Focus Group Discussions</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon24.png" alt="image">
                    </div>
                    <h3>One on One In-depth</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon25.png" alt="image">
                    </div>
                    <h3>Ethnography Research</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon26.png" alt="image">
                    </div>
                    <h3>Process Observation</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-get-started></app-get-started>
