<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>About Us</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape2.png" alt="image"></div>
</div>

<!-- About -->
<div class="about-area bg-gradient-image ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about.jpg" alt="image">
                    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="image"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">ABOUT US</span>
                    <h2>Who We Are</h2>
                    <p>We are a Market Research Company in Africa supporting our clients across the full range of qualitative and
                    quantitative research services.
                    With offices in Kenya, Uganda, Tanzania and Somalia and call centers in an additional 10+ African
                    countries, Lightline Research has a truly global team who is able to advise on research best practices and
                    meet any client need quickly and effectively.
                    <br>
                    We have carefully vetted our partners to ensure they can deliver high-quality respondent recruitment and data
                    collection, while providing excellent client service.
                    All of our services are fully compliant with industry guidelines and the latest International regulations on data
                    protection.</p>
                </div>
            </div>
        </div>
        <!-- <app-awards></app-awards> -->
    </div>
</div>

<app-partners></app-partners>

<div class="pt-100">
    <app-work-process></app-work-process>
</div>

<app-team></app-team>

<app-funfacts></app-funfacts>

<div class="partner-area pt-100">
    <div class="container">
        <div class="section-title style-two">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <span class="sub-title">REAEARCH MEMBERSHIP</span>
                    <h4>Market research services in line with current
                    industry standards</h4>
                </div>
                <div class="col-lg-7 col-md-12">
                    <p>
                        We pride ourselves on staying up to date on the latest trends
                        and standards in consumer research. That’s why Lightline
                        Research is a member of the ESOMAR.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<app-get-started></app-get-started>